# ===== Java =====
*.class
*.log

# ===== Build =====
target/
out/
build/

# ===== Package =====
*.jar
*.war
*.ear

# ===== IDE IntelliJ =====
.idea/
*.iml
*.xml

# ===== OS =====
.DS_Store
Thumbs.db

# ===== JVM Crash Logs =====
hs_err_pid*
replay_pid*